<div class="container">
    <div class="jumbotron">
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="addChTitle">Title: </label>
                <input type="text" id="addChTitle" name="addChTitle" ng-model="chapter.chTitle" />
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="addChDescription">Description: </label>
                <textarea id="addChDescription" name="addChDescription" ng-model="chapter.chDescription"/>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="addChText">Text: </label>
                <textarea id="addChText" name="addChText" ng-model="chapter.chText"/>
            </div>
            <div class="form-group row">
                <button class="col-sm-2 btn btn-primary" id="addChapterButton" ng-Click="addChapter(chapter)">Adaugă Capitol</button>
                <button class="col-sm-2 btn btn-danger" id="addChapterCancelButton" ng-Click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>